In [1]:
import pandas as pd 
import plotly.express as px

/var/folders/pc/dby725k96d11z24233l_b23c0000gn/T/ipykernel_66682/210771679.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('team_game_data.csv')

,season,gametype,nbagameid,gamedate,offensivenbateamid,off_team_name,off_team,off_home,off_win,defensivenbateamid,...,turnovers,blocksagainst,defensivefouls,offensivefouls,shootingfoulsdrawn,possessions,points,shotattempts,andones,shotattemptpoints
0,2016,2,21600495,2016-12-30,1610612740,New Orleans Pelicans,NOP,1,1,1610612752,...,13,6,17,1,9,101,104,91,3,102
1,2016,2,21600495,2016-12-30,1610612752,New York Knicks,NYK,0,0,1610612740,...,14,5,11,1,9,99,92,100,2,92
2,2021,2,22100943,2022-03-03,1610612742,Dallas Mavericks,DAL,1,1,1610612744,...,10,5,16,0,11,90,122,90,6,120
3,2021,2,22100943,2022-03-03,1610612744,Golden State Warriors,GSW,0,0,1610612742,...,15,1,16,3,6,90,113,86,1,112
4,2016,2,21601032,2017-03-18,1610612741,Chicago Bulls,CHI,1,1,1610612762,...,11,8,11,0,6,88,95,84,2,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23953,2023,2,22300282,2023-12-02,1610612753,Orlando Magic,ORL,0,0,1610612751,...,11,8,18,3,11,100,101,97,2,96
23954,2023,2,22301202,2023-12-04,1610612754,Indiana Pacers,IND,1,1,1610612738,...,6,9,15,1,8,101,122,99,3,117
23955,2023,2,22301202,2023-12-04,1610612738,Boston Celtics,BOS,0,0,1610612754,...,18,4,14,4,7,101,112,102,2,112
23956,2023,2,22301204,2023-12-04,1610612740,New Orleans Pelicans,NOP,0,1,1610612758,...,14,2,17,0,10,98,127,95,2,123
23957,2023,2,22301204,2023-12-04,1610612758,Sacramento Kings,SAC,1,0,1610612740,...,14,7,22,1,14,98,117,98,1,111